.page-header- {
	/*padding-bottom: 9px;*/
	margin: 10px 0 20px !important;
	/*border-bottom: 1px solid #1c1e22;*/
}

.thumbnail {
	border: 0px !important;
	background-color: initial !important;
}
.bg-default{
	background-image: url('../img/background.jpg');
}