.page-header {
	/*padding-bottom: 9px;*/
	margin: 10px 0 10px !important;
	/*border-bottom: 1px solid #1c1e22;*/
}

.thumbnail {
	border: 1px !important;
	padding: 0px !important;
	/*background-color: initial !important;*/
}


.award-img {
	border-radius: 0 0 2px 2px;
}

.thumbnail-img{
	border-radius: 2px;
}

.bg-default{
	background-image: url('../img/background.jpg');
}

.badge {
	background-color: #ee5f5b !important;
}

/*============================================================== margin*/

.m-bottom-0{
	margin-bottom: 0px !important;
}
.m-top-0{
	margin-top: 0px !important;
}

.m-bottom-10{
	margin-bottom: 10px !important;

}

.progress {
height: 16px !important;
}

.panel-title {
	font-size: 12px !important;
}

.panel-heading {
	padding: 6px 9px;
}

/*============================================================== padding*/

.p-all-0{
	padding: 0px !important;
}
.p-all-1 {
	padding: 1px !important;
}
.p-right-0{
	padding-right: 0px !important;
}

.p-list-group-item-sm {
	padding: 6px 9px !important;
}

.w-fixed-120{
	width: 120px;
}

.w-fixed-60{
	width: 62px;
}

.h-fixed-62{
	height: 62px;
}

.size-fixed-52{
	height: 52px;
	width: 52px;
}

.size-fixed-62{
	height: 62px;
	width: 62px;
}

.size-preview-280{
	height: 200px;
	width: 280px;
}

/**************swipe**************/
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:90%;
  position: relative;
}